<h1>Are you coming to my wedding? Please fill out the form below regardless.</h1>

<%= form_for @rsvp do |f|%>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br>
  <%= f.label :attending %>
  <%= f.check_box :attending %>
  <br>
  <%= f.label :vegetarian %>
  <%= f.check_box :vegetarian %>
  <br>
  <%= f.label :guests %>
  <%= f.text_field :guests %>
  <br>

  <%= f.submit %>
<% end %>