<h1>Individual RSVP</h1>
<h2>First Name: <%= @rsvp.first_name %></h2>
<h2>Last Name: <%= @rsvp.last_name %></h2>
<h2>Attending? <%= @rsvp.attending %></h2>
<h2>Vegetarian? <%= @rsvp.vegetarian %></h2>
<h2>Number of Guests: <%= @rsvp.guests %></h2>
<%= link_to "Delete RSVP", "/rsvps/#{@rsvp.id}", method: :delete %>